services:
  app101web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app101web
    environment:
      API_URL: http://localhost:5000/
      PORT: 80
    hostname: app101web
    image: app101/web:latest
    ports:
      - mode: ingress
        target: 80
        published: 8080
        protocol: tcp
    restart: unless-stopped
