
body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background-color: #e7dddd;
}
h1, h2 {
  color: #585d60;
}
form input, form button, select, button {
  margin: 0.5rem;
  padding: 0.5rem;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #ece3e3;
}
th, td {
  padding: 0.5rem;
}
